Subscriptions
-------------
Spotify - same amount, same day, monthly
Abel & Cole veg box - slightly different amount, same day, weekly
Gym - same amount, end of month/beginning of month, monthly
PPI - same amount, same day, monthly
LinkedIn - increasing amount, same day, monthly
Experian - same amount, same day, monthly
Amazon Prime - increasing rate, anually
Council tax - same price, same day, monthly


Non-Subscriptions
-----------------
Tfl, same amount, daily,
Pub, similar amount, same day, monthly
Pub every friday, similar amounts
Pret 3 times a week, similar amounts
Favourite restaurant, same amount, same day, monthly
